@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {        
    font-family: "Noto Sans KR", sans-serif;
} 

.bannerhere {
    width: 100%;
    height: 100px;
    background-image: url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FT8ywa%2FbtsGXzt2plO%2FXNCzKj63hwlLU2yEN4Iwlk%2Fimg.png);
    background-size: cover;
    background-position: center; 
}





#printMovieData {
    border: 2px solid yellow;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.eachCard{
    border: 2px solid blue;
    margin: 1em;
    padding: 2px 16px;
    border-radius: 10px;
    width: 200px;
}

.searchBarHead{
    width: 10%;
    height:1%;
    margin: 0px 0px 0px auto;
    background-color: yellow;
}

.searchBarBody {
    width: 2%;
    height: 1%;
    margin: 0px 0px 0px auto;
}
